/* ===================*/
/* BASIC SETUP */
/* =================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
    scroll-behavior:smooth;
}
ul li{
    list-style:none;
}
h1{
    font-size: 3rem;
    color: #fff;
}
.clearfix::after{
    content:"";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
body {
    font-family: 'Titillium Web', sans-serif;
    text-rendering:optimizeLegibility;
    
   
}
/* ===================*/
/* Reuseable component */
/* =================== */
.row{
    max-width: 114rem;
    margin: 0 auto;
}
section{
    padding:8rem 0;
   
}
h2{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
}
h2::after{
  content: "";
  display:block ;
  height: .4rem;
  background: white;
  width: 8.5rem;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}
h3{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
.box{
 padding: 1%;
}
.box p{
    font-size: 1.6rem;
    font-weight: 300;
    margin: 2rem;
}
/*--Button--*/
.btn:link,
.btn:visited,
.btn{
    background: #333;
    color:#fff;
    border-bottom:.3rem solid #000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 6rem;
    display: inline-block;
    margin-top: 4.5rem;
    font-size: 1.6rem;
  
}
/*---little-description paragraph--*/
.little-description{
  font-size: 1.8rem;
  width: 60%;
  margin-left: 20%;
  line-height: 2rem;
}
/* ===================*/
/* Header section */
/* =================== */
header{
    background:linear-gradient(rgba(135, 80, 156, 0.9), rgba(85, 33, 105, 0.9)),url(./img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    background-attachment: fixed;
    height: 85vh;
    position: relative;
}
.logo{
    height: 3.5rem;
    width: auto;
    margin-top:3.5rem;
    float: left;
}
/*==== main-navigation===*/
.main-nav{
    float: right;
    margin-top: 4rem;
}
.main-nav li:first-child{
    margin-left: 0;
}
.main-nav li{
    display: inline-block;
    margin-left:1rem;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform:uppercase;
    background: rgba(100, 58, 121, 0);
    padding: .6rem 1.6rem;
    border-radius: .4rem;
    display: inline-block;
    font-size: 1.6rem;
    transition: .5s;

}
.main-nav li:hover a:link,
.main-nav li:hover a:visited{
    background: rgba(100, 58, 121, 1);
}
.active{
    border-radius: .4rem;
    background: rgba(100, 58, 121, 1);
}
.hero_text_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;

}
.btn-hero:link,
.btn-hero:visited{
    background: #EB7D4B;
    border-color: #C86A40;
   
}
/* ===================*/
/* Services section */
/* =================== */

.services-section{
    background: linear-gradient(rgba(26, 146, 124, 0.9), rgba(51, 99, 90, 0.9)), url(../css/img/services-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: #fff;
    text-align: center;
}
.services-section h2::after{
    background: #14A58C;

}
.services-icon{
    height: 12rem;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
}
/* ===================*/
/* Team section */
/* =================== */
.team-section{
    background: linear-gradient(rgb(231, 241, 248, .9), rgb(231, 241, 248, .9)), url(./img/team-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}
.team-section h2{
    color:#3C4761;
}
.team-section h2::after{
    background: #C8D9E5;
}
.team-member{
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}
.team-section h3{
    color: #27283d;
}
.role{
    display: inline-block;
    color: #92D7F0;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-top: .5rem;
}
.team-section .box p{
    color:#535E75;
    
}
.social-link{
    margin-top: 4.5rem;
}
.social-link ul li {
    display: inline-block;
    margin: 0 .5rem;
}
.social-link ul li a:link {
    color: white;
}
.social-link ul li a:link i::before{
    background: #BDD1DF;
    color: #fff;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    display:inline-block;
    border-radius: 50%;
    transition: all .8s;
}
.social-link ul li a:hover i::before{
    background: #a84f4f;
    transform: rotate(360deg);
}
/* ===================*/
/* BASIC SETUP */
/* =================== */
.skill-section{
    background:linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),url(./img/skill-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.skill-section h2,
.skill-section h3,
.skill-section .little-description{
    color: #3C4761;
}
.skill-section h2::after{
    background: #DFE8ED;
}
.skill-section .box{
    margin-top: 4.2rem;
}
svg.radial-progress circle{
    stroke-width: 8;

}
svg.radial-progress text{
    fill: #3C4761;
    font-size: 1.5rem;
}
svg.web-design circle{
    stroke: #30BAE7;
}
svg.html-css circle{
    stroke: #D74680;
}
svg.graphic-design circle{
    stroke: #15C7A8;
}
svg.ui-ux circle{
    stroke: #EB7D4B;
}
/* ===================*/
/* start portfolio section */
/* =================== */
.portfolio-section{
    background:linear-gradient( rgba(255, 221, 153, 0.9), rgba(255, 221, 153, 0.9)), url(./img/portfolio-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
.portfolio-section h2{
    color: #393939;
}
.portfolio-section h2::after{
    background: #E5C37F;
}
.portfolio-filter {
    margin: 4.5rem 0;
    
}
.portfolio-filter button{
    background: #EBC985;
    margin: 0 .5rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: .3rem;
    font-size: 1.8rem;
    border:0;
    outline: none;
    transition: .5s;
}
.portfolio-filter button:hover{
    cursor: pointer;
    box-shadow: 0 0.3rem .5rem rgba(131, 117, 89, 0.87);
}
.container .col:nth-child(3){
    margin-left: 0;
}
.container .col h4{
    color: #393939;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 2.5rem 0;
}
.portfolio-section .mixitup-control-active{
    background:#fff;
} 
/* ===================*/
/* start portfolio section */
/* =================== */
.testimonial{
    background:linear-gradient(rgba(215, 70, 128, 0.9),rgba(215, 70, 128, 0.9)), url(./img/testimonial-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    
    color: #fff;
}
.testimonial h2::after{
    background: #B73C6D;
}
..testimonial h2{
    font-weight: 400;
}

.testimonial .col:nth-child(3){
    margin-left: 0;
}
.testimonial .col:nth-child(1),
.testimonial .col:nth-child(2){

    margin-top: 4rem;
}
.testimonial .col:nth-child(3),
.testimonial .col:nth-child(4){
    margin-top: 8rem;
}
.testimonial .cline-photo{
    width: 10rem;
    float: left;
}
.testimonial .cline-photo img{
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}
.testimonial p{
    margin: 0;
    font-size: 2.1rem;
    font-style: italic;
    margin-bottom: 2rem;

}
.testimonial .cline-review{
    width: 30rem;
    float: left;
}
.testimonial .cline-review span{
    color: #F4B592;
    margin-top: 1rem;
}
/* ===================*/
/* start portfolio section */
/* =================== */
.contact-section{
    background:linear-gradient(rgba(60, 83, 153, 0.9), rgba(60, 83, 153, 0.9)), url(./img/contact-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center top;
    background-attachment: fixed;
    text-align: center;
}
.contact-section h2::after{
  background: #273A71;
}
.contact-section p{
    font-size: 1.8rem;
    color: #fff;
}
.contact-section form{
    margin-top: 4.5rem;
    width: 70%;
    margin-left: 15%;
}
.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea{
  background:#273A71;
  border: .1rem solid #273A71;
  width: 100%;
  padding: 1.5rem;
  border-radius: .5rem;
  font-size: 1.8rem;
  color: #fff;
  margin: .5rem 0;
  outline: none;
}
.contact-section form ::placeholder{
    color: #fff;
    opacity: 1;
}
.btn-submit{
    border:0;
    background: #14A58C;
    border-bottom: .3rem solid #2dcab0;
    border-radius: .5rem;
    outline: none;
}
